<!DOCTYPE html>
<html lang="en" dir="ltr">

<%- include("../partials/head"); -%>

<body>
  <!-- * Header -->
  <%- include("../partials/header"); -%>

  <!-- * Main -->
  <main class="main main-home">
    <!-- <h1>Out of School Youth</h1> -->

    <!-- -* People Looping Generation -->
    <div class="people-list-container">
      <ul class="people-list list-group">
        <% if (peopleExpected != undefined) {%>
        <% peopleExpected.forEach(function(person){ %>
        <li class="person-<%=person.id%> list-group-item list-group-item-action">
          <div class="general" data-bs-toggle="tooltip" data-bs-html="true" data-bs-title="
                <p><b>Full Name: </b></p>
                <p><%=person.nameLast%>,
                  <%=person.nameFirst%>
                  <%=person.nameMiddle%>
                  <%=person.nameSuffix%></p>
                <p><b>Age: </b><%=(new Date().getFullYear()) - parseInt(person.birthdate.getFullYear())%> yrs old</p>
                <p><b>Birthdate: </b><%=person.birthdate.toLocaleDateString("en-US", { year: 'numeric', month: 'long', day: 'numeric' })%></div></p>
                <p><b>Sex: </b><%=person.sex.slice(0,1).toUpperCase()+person.sex.slice(1)%></p>
              ">
            <div class="img">
              <!-- <img src="/images/placeholder-man.jpg" alt=""> -->
              <img src="<%=person.image%>" alt="">
            </div>
            <div class="text">
              <p class="name">
                <%=person.nameLast%>,
                <%=person.nameFirst%>
                <%=person.nameMiddle%>
                <%=person.nameSuffix%>
              </p>
              <div class="sub">
                <img class="sex" src="/svg/icon-<%=person.sex%>.svg" alt="">
                <p class="age"><%=(new Date().getFullYear()) - parseInt(person.birthdate.getFullYear())%> yrs old</p>
                <p> - </p>
                <p class="birthdate"><%=person.birthdate.toLocaleDateString("en-US", { year: 'numeric', month: 'long', day: 'numeric' })%></p>
              </div>
            </div>
          </div>
          <div class="responsibility" data-bs-toggle="tooltip" data-bs-html="true" data-bs-title="
                <p><b>Legal Guardian: </b></p>
                <p><%=person.legalGuardianLast%>,
                  <%=person.legalGuardianFirst%>
                  <%=person.legalGuardianMiddle%>
                  <%=person.legalGuardianSuffix%></p>
                <p><b>Contact #: </b><%=person.legalGuardianContact%></p>
                <p><b>Address: </b>
                  <% if (person.addressUnit){ %>
                    <%=person.addressUnit%>,
                  <% } %>
                  <%=person.addressLot%>,
                  <%=person.addressStreet%></p>
              ">
            <div class="upper">
              <p class="legal-guardian-contact">
                <%=person.legalGuardianContact%>
              </p>
              <p class="legal-guardian">
                <%=person.legalGuardianLast%>,
                <%=person.legalGuardianFirst%>
                <%=person.legalGuardianMiddle%>
                <%=person.legalGuardianSuffix%>
              </p>
            </div>
            <div class="lower">
              <p class="address">
                <% if (person.addressUnit){ %>
                <%=person.addressUnit%>,
                <% } %>
                <%=person.addressLot%>,
                <%=person.addressStreet%>
              </p>
            </div>
          </div>
          <div class="academic" data-bs-toggle="tooltip" data-bs-html="true" data-bs-title="
              <p><b>Last School: </b></p>
              <p><%=person.academicLastSchool%></p>
              <p><b>Last School Year: </b><%=person.academicLastSchoolAttendance%></p>
                <p><b>Out-of-School for: </b><%=(new Date().getFullYear()) - person.academicLastSchoolAttendance%> yrs</p>
                <p><b>Last Grade Level: </b>Grade
                  <%=person.academicLastLevel%></p>
                <p><b>Expected Level: </b>Grade
                  <%=(new Date().getFullYear()) - person.academicLastSchoolAttendance + parseInt(person.academicLastLevel)%></p>
              ">
            <div class="upper">
              <p class="last-school-attendance">
                <%=person.academicLastSchoolAttendance%>
              </p>
              <p class="last-school">
                <%=person.academicLastSchool%>
              </p>
            </div>
            <div class="lower">
              <div class="oos-duration">
                <img src="/svg/icon-duration.svg" alt="">
                <p>
                  <%=(new Date().getFullYear()) - person.academicLastSchoolAttendance%>
                  yrs
                </p>
              </div>
              <div class="last-level">
                <img src="/svg/icon-last.svg" alt="">
                <p>
                  Grade
                  <%=person.academicLastSchool%>
                </p>
              </div>
              <div class="expected-level">
                <img src="/svg/icon-expected.svg" alt="">
                <p>
                  Grade
                  <%=(new Date().getFullYear()) - person.academicLastSchoolAttendance + parseInt(person.academicLastLevel)%>
                </p>
              </div>
            </div>
          </div>
          <div class="buttons">
            <a href="/permadelete/<%=person.id%>" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Delete this Entry">
              <button class="delete">
                <img src="/svg/icon-delete.svg" alt="">
              </button>
            </a>
            <!-- <button class="edit">
                <img src="/svg/icon-edit.svg" alt="">
              </button> -->
          </div>
        </li>
        <% }) %>
        <% } %>
      </ul>
    </div>
  </main>

  <img src="/svg/bg-wave.svg" alt="" class="bg-wave">

  <div class="bg-filter"></div>
  <div class="bg-image"></div>

  <!-- * Footer -->
  <%- include("../partials/footer"); -%>

  <!-- * Scripts -->
  <%- include("../partials/scripts"); -%>
</body>

</html>